# Ignore JS build files in build or dist folders only
/dist/**/*.js
/dist/**/*.mjs
/build/**/*.js
/build/**/*.mjs

# Ignore source maps in those folders
/dist/**/*.map
/build/**/*.map

# Ignore esbuild executable if present anywhere
esbuild.exe

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
